{% extends 'base/master.html' %}

{% block 'body' %}

<h3>this is who daashboard</h3>

<div class="container">
    <div class=" col-md- col-md-offset-1" style="margin-top:20px;padding:30px;">
        <div class="box">
            <h3>who are  you ??</h3>
            <hr/>
            <div class="whobtn" style="margin-top:20px;padding:30px;">
                <a href="{% url 'add_teacher' %}" class="btn btn-primary">Teacher</a>
                <a href="{% url 'add_student' %}" class="btn btn-primary">Student</a>
            </div>
        </div>
    </div>

{% endblock %}